@media (max-width: 1400px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__nav {
        margin-right: 0;
        padding-right: 10px;
    }

    .nav__link {
        font-size: 16px;
    }

    .advantage {
        flex-wrap: wrap;
    }

    .advantage__left {
        width: 100%;
        height: 640px;
        background-image: url(../img/1024/Rectangle\ 2.jpg);
    }

    .advantage__right {
        width: 100%;
    }

    .footer__right {
        display: none;
    }
}