@media (max-width: 1400px) {

    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__nav {
        margin-right: 0;
        padding-right: 10px;
    }

    .nav__link {
        font-size: 16px;
    }

    .advantage {
        flex-wrap: wrap;
    }

    .advantage__left {
        width: 100%;
        min-height: 640px;
    }

    .advantage__right {
        width: 100%;
    }

    .footer__content {
        justify-content: space-around;
    }

    .footer__form {
        width: 40%;
    }

    .form__title {
        font-size: 45px;
    }

    .footer__right {
        display: none;
    }
}

@media (max-width: 1024px) {

    .container {
        padding: 0 50px;
    }

    .header__container {
        padding: 18px 50px;
    }

    .header__nav {
        position: absolute;
        padding: 50px;
        width: 50%;
        max-width: 420px;
        left: -120%;
        top: 0;
        height: 100vh;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 32px 32px;
        overflow-y: auto;
        visibility: hidden;
        transition: visibility .3s ease-in-out, left .3s ease-in-out;
        /* лучше использовать left вместо transform */
    }

    .header__nav .nav__list {
        flex-direction: column;
        gap: 60px;
        align-items: flex-start;
    }

    .nav__link {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .header__nav--active {
        visibility: visible;
        left: 0;
    }

    .burger {
        position: relative;
        width: 30px;
        height: 23px;
        display: block;
        outline: none;
    }

    .menu-close {
        position: relative;
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 100px;
    }

    .menu-close::after,
    .menu-close::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color-dark);
    }

    .menu-close::before {
        transform: rotate(45deg);
    }

    .menu-close::after {
        transform: rotate(-45deg);
    }

    .burger span {
        position: absolute;
        background: #000;
        left: 0;
        width: 100%;
        height: 3px;
        top: 10px;
    }

    .burger::after,
    .burger::before {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background: #000;
        left: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger::before {
        top: 0;
    }

    .burger:active span,
    .burger:active::after,
    .burger:active::before {
        background-color: #e1670e;
        transition: background-color .3s ease-in-out;
    }

    .stop-scroll {
        overflow: hidden;
    }

    .header__logo {
        padding: 0;
        width: 150px;
        height: 48px;
    }

    .hero {
        padding: 40px 0;
        height: 748px;
    }

    .swiper-first--size {
        background-image: url(../img/1024/low-angle-photo-of-balconies-2462015\ 1.jpg) !important;
    }

    .swiper-second--size {
        background-image: url(../img/1024/hero-pic-1024-2.jpg) !important;
    }

    .swiper-third--size {
        background-image: url(../img/1024/hero-pic-1024-3.jpg) !important;
    }

    .hero__content {
        max-width: 782px;
        padding-top: 160px;
    }

    .hero__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 15px;
    }

    .hero__descr {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .section__descr {
        max-width: 100%;
        margin-bottom: 59px;
    }

    .about__title {
        margin-bottom: 16px;
    }

    .frame {
        padding: 50px;
    }

    .article {
        padding: 65px 116px 63px 76px;
    }

    .section-offset {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .work__list {
        margin-bottom: 52px;
    }

    .carousel__left {
        width: 46%;
    }

    .questions {
        padding-top: 0;
        padding-bottom: 78px;
    }

    .accordion__title {
        font-size: 20px;
        font-weight: 700;
        padding: 42px 0;
        padding-right: 55px;
    }

    .footer__content {
        padding: 50px;
        justify-content: space-between;
    }

    .footer__nav {
        margin-bottom: 90px;
    }

    .footer__left {
        width: 28%;
    }

    .footer__form {
        width: 59%;
    }

    .footer__btn {
        padding: 19px 37px;
    }

}

@media (max-width: 768px) {

    .header__container {
        padding: 2px 50px;
    }

    .hero {
        padding: 41px 0;
        height: 744px;
    }

    .swiper-first--size {
        background-image: url(../img/768/low-angle-photo-of-balconies-2462015\ 1.jpg) !important;
    }

    .hero__content {
        padding-top: 161px;
        padding-left: 40px;
        max-width: 590px;
    }

    .hero__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .hero__descr {
        margin-bottom: 59px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .about__title {
        margin-bottom: 15px;
    }

    .section__descr {
        margin-bottom: 54px;
    }

    .advantage__left {
        min-height: 650px;
        background-image: url(../img/768/Rectangle\ 2.jpg);
    }

    .frame {
        padding: 36px 40px 34px 40px;
    }

    .article {
        align-items: center;
        gap: 10px;
        padding: 34px 45px;
    }

    .article__icons {
        width: 114px;
        height: 99px;
    }

    .article__circle {
        height: 72px;
        width: 72px;
    }

    .article__icon-box {
        left: 42px;
        width: 72px;
        height: 79px;
    }

    .article__icon-detail {
        left: 28px;
        width: 81px;
        height: 81px;
    }

    .section-offset {
        padding-top: 81px;
        padding-bottom: 49px;
    }

    .work__list {
        gap: 0;
        justify-content: space-between;
    }

    .carousel {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 28px;
    }

    .carousel__left {
        width: 100%;
    }

    .carousel__img {
        border-radius: 24px;
    }

    .carousel__descr {
        margin-bottom: 13px;
    }

    .questions {
        padding-bottom: 111px;
    }

    .accordion__title {
        padding: 32px 0;
        padding-right: 55px;
    }

    .footer__nav {
        display: none;
    }

    .footer__content {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .footer__left {
        width: 100%;
        padding-top: 51px;
    }

    .footer__form {
        width: 100%;
    }

    .form__input {
        width: 81%;
        align-self: start;
    }

    .form__textarea {
        width: 81%;
        align-self: start;
    }

    .form__wrapper {
        padding-top: 5px;
        width: 81%;
    }

}

@media (max-width: 615px) {

    .hero__content {
        padding-top: 110px;
    }

    .frame {
        display: none;
    }

    .outframe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .advantage__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #000000;
        padding: 0;
    }

    .advantage__btn {
        padding: 12px 44px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FF9900;
    }

}

@media (max-width: 576px) {

    .container {
        padding: 0 15px;
    }

    .header {
        padding: 10px 0;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 16px 16px;
    }

    .header__logo {
        padding-top: 7px;
        width: 110px;
    }

    .header__nav {
        padding: 15px;
        width: 50%;
        max-width: 320px;
        border-radius: 0px 0px 16px 16px;
    }

    .menu-close {
        margin-bottom: 32px;
    }

    .hero {
        height: 339px;
        padding: 0;
        padding-top: 31px;
        margin-bottom: 60px;
    }

    .swiper-first--size {
        background-image: url(../img/320/low-angle-photo-of-balconies-2462015\ 1.jpg) !important;
        border-radius: 16px !important;
    }

    .swiper-second--size {
        background-image: url(../img/320/hero-pic-320-2.jpg) !important;
        border-radius: 16px !important;
    }

    .swiper-third--size {
        background-image: url(../img/320/hero-pic-320-3.jpg) !important;
        border-radius: 16px !important;
    }

    .hero__content {
        padding: 0;
        max-width: 440px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__title {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 7px;
    }

    .hero__descr {
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 33px;
    }

    .btn {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding: 13px 28px;
        border-radius: 8px;
    }

    .hero__btn {
        display: block;
        margin: 0 auto;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .section__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .section__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .advantage {
        gap: 8px;
    }

    .advantage__left {
        min-height: 200px;
        background-image: url(../img/320/Rectangle\ 3.png);
        border-radius: 16px;
    }

    .advantage__btn {
        border: 2px solid #FF9900;
        color: #fff;
        border-radius: 8px;
        margin-bottom: 18px;
    }

    .article {
        flex-wrap: wrap;
        padding: 0;
        border: none;
    }

    .article__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .article__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .article__icons {
        width: 64px;
        height: 49px;
    }

    .article__circle {
        width: 43px;
        height: 43px;
    }

    .article__icon-box {
        width: 43px;
        height: 48px;
        left: 21px;
    }

    .article__icon-detail {
        left: 22px;
        width: 43px;
        height: 43px;
    }

    .section-offset {
        padding-top: 59px;
        padding-bottom: 60px;
    }

    .work__title {
        margin-bottom: 18px;
    }

    .work__step {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .work__list {
        margin-bottom: 13px;
    }

    .carousel__img {
        width: 100%;
        border-radius: 16px;
    }

    .carousel__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .carousel__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .carousel {
        gap: 5px;
    }

    .work__btn {
        padding: 12px 45px;
    }

    .list__item:not(:last-child) {
        margin-right: 9px;
    }

    .work__btn-style {
        padding: 11px 32px;
    }

    .questions__title {
        margin-bottom: 16px;
    }

    .accordion__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 30px 0;
        padding-right: 35px;
    }

    .accordion__icon {
        background-image: url(../img/320/Rectangle\ 12\ \(Stroke\).svg);
        width: 30px;
        height: 30px;
        top: 39px;
    }

    .questions {
        padding-bottom: 61px;
    }

    .footer__content {
        padding-top: 33px;
    }

    .footer__form {
        gap: 23px;
        margin-bottom: 12px;
    }

    .form__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .form__input {
        padding: 14px 20px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }

    .form__textarea {
        padding: 14px 20px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
    }

    .form__wrapper {
        width: 100%;
    }

    .footer__logo {
        width: 131px;
        height: 42px;
        margin-bottom: 16px;
    }

    .social {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 15px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    .footer__left {
        border-top: 1px solid #595959;
        padding-top: 17px;
        align-items: center;
    }

}