@media (max-width: 1400px) {

    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__nav {
        margin-right: 0;
        padding-right: 10px;
    }

    .nav__link {
        font-size: 16px;
    }

    .advantage {
        flex-wrap: wrap;
    }

    .advantage__left {
        width: 100%;
        height: 640px;
        background-image: url(../img/1024/Rectangle\ 2.jpg);
    }

    .advantage__right {
        width: 100%;
    }

    .footer__right {
        display: none;
    }
}

@media (max-width: 1024px) {

    .container {
        padding: 0 50px;
    }

    .header__container {
        padding: 18px 50px;
    }

    .header__nav {
        display: none;
    }

    .burger {
        position: relative;
        width: 30px;
        height: 23px;
        display: block;
    }

    .burger span {
        position: absolute;
        background: #000;
        left: 0;
        width: 100%;
        height: 3px;
        top: 10px;
    }

    .burger::after,
    .burger::before {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background: #000;
        left: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger::before {
        top: 0;
    }

    .header__logo {
        padding: 0;
        width: 150px;
        height: 48px;
    }

    .hero__offset {
        padding: 40px 0;
    }

    .hero__bg {
        height: 668px;
        width: 90%;
    }

    .hero__img-one {
        background-image: url(../img/1024/low-angle-photo-of-balconies-2462015\ 1.jpg);
    }

    .hero__content {
        width: 808px;
        padding-top: 160px;
        padding-left: 26px;
    }

    .hero__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 15px;
    }

    .hero__descr {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .marker {
        bottom: 56px;
        left: 46%;
    }

    .section__descr {
        max-width: 100%;
        margin-bottom: 59px;
    }

    .about__title {
        margin-bottom: 16px;
    }

    .frame {
        padding: 50px;
    }

    .article {
        padding: 65px 116px 63px 76px;
    }

    .section-offset {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .carousel__item {
        gap: 50px;
    }

    .carousel__wrapper {
        width: 47%;
    }

    .carousel__list {
        padding-top: 24px;
    }

    .questions {
        padding-top: 0;
        padding-bottom: 75px;
    }

    .accordion__link {
        font-size: 20px;
        font-weight: 700;
        padding: 32px 0;
    }

    .footer__content {
        padding: 50px;
    }

    .footer__nav {
        margin-bottom: 90px;
    }

    .footer__left {
        padding-right: 82px;
        margin-right: auto;
    }

    .footer__form {
        width: 59%;
        padding-left: 0;
    }

    .footer__btn {
        padding: 19px 37px;
    }

}

@media (max-width: 960px) {

    .hero__content {
        max-width: 638px;
        padding-top: 100px;
    }

    .footer__content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__left {
        padding-top: 70px;
        padding-right: 0;
        margin-right: 0;
    }

    .footer__nav {
        margin-bottom: 45px;
    }

}

@media (max-width: 768px) {

    .header__container {
        padding: 2px 50px;
    }

    .hero__bg {
        padding: 0 40px;
        width: 87%;
    }

    .hero__img-one {
        background-image: url(../img/768/low-angle-photo-of-balconies-2462015\ 1.jpg);
    }

    .hero__content {
        padding-top: 166px;
        padding-left: 0;
        max-width: 100%;
    }

    .hero__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .hero__descr {
        margin-bottom: 58px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .marker {
        left: 45%;
    }

    .hero__offset {
        padding: 38px 0;
    }

    .about__title {
        margin-bottom: 19px;
    }

    .section__descr {
        margin-bottom: 50px;
    }

    .advantage__left {
        height: 650px;
        background-image: url(../img/768/Rectangle\ 2.jpg);
    }

    .frame {
        padding: 36px 40px 34px 40px;
    }

    .article {
        align-items: center;
        gap: 10px;
        padding: 34px 45px;
    }

    .article__icons {
        width: 114px;
        height: 99px;
    }

    .article__circle {
        height: 72px;
        width: 72px;
    }

    .article__icon-box {
        left: 42px;
        width: 72px;
        height: 79px;
    }

    .article__icon-detail {
        left: 28px;
        width: 81px;
        height: 81px;
    }

    .section-offset {
        padding-top: 76px;
        padding-bottom: 49px;
    }

    .work__steps {
        gap: 0;
        justify-content: space-between;
    }

    .carousel__item {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .carousel__item {
        gap: 38px;
    }

    .carousel__wrapper {
        width: 100%;
    }

    .questions {
        padding-bottom: 108px;
    }

    .accordion__link {
        padding: 30px 0;
    }

    .footer__nav {
        display: none;
    }

    .footer__left {
        width: 100%;
        padding-top: 50px;
    }

    .footer__form {
        width: 100%;
    }

    .form__input {
        width: 81%;
        align-self: start;
    }

    .form__textarea {
        width: 81%;
        align-self: start;
    }

    .form__wrapper {
        width: 81%;
    }

}